
/*
==================================================
|   |   |   Golobal CSS
==================================================
*/
*{
    padding: 0px;
    margin: 0px;
}
bodY{
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
    scroll-behavior: smooth;
}
a,a:hover{
    text-decoration: none;
}

h1,h2,h3,h4{
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

h5,h6{
    font-family: 'Work Sans', sans-serif;
    color: #000;
}


/*
==================================================
|   |   |   Header Section
==================================================
*/

.header-section{
    width: 100%;
    background: url('../img/hero-slider.png') top center no-repeat;
    background-size: cover;
}

.menu{
    width: 100%;
    position: relative;
    background-color: rgba(255, 249, 243, 0.7);
    z-index: 50;
}

.nav-link{
    font-size: 16px;
    font-weight: 700;
    color: #5a6e79;
    padding-bottom: 2px;
    margin-left: 20px;
    -webkit-transition: 1s ease;
    transition: 1s ease;
}


.nav-link:hover,
.nav-link:focus,
.nav-link:active{
    color: #ffc178 !important;
    border-bottom: 2px solid #ffc178;
}

.navbar-nav .active>.nav-link{
    font-size: 16px;
    font-weight: 700;
    color: #ffc178 !important;
    border-bottom: 2px solid #ffc178
}



.btn-apply{
    padding: 10px 40px;
    font-size: 16px;
    font-weight: 400;
    background: #fff;
    border: 1px solid #fff;
    color: #ffc178;
    border-radius: 30px;
    margin-left: 20px;
    -webkit-transition: 1s ease;transition: 1s ease;
}

.btn-apply:hover{
        background:#ffc178;
    border: 1px solid #ffc178;
    color: #fff;
}


/*============================Home Section============================*/

.hero-slider{
    width: 100%;
    padding: 130px 0px 380px;
}

.hero-inner{
    padding: 50px 0px 100px;
}

.hero-inner h1{
    font-size: 40px;
    font-weight: 700;
    color: #ffc178;
    margin-bottom: 20px;
}


.hero-inner p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #5a6e79;
}


.btn-home{
    padding: 10px 40px;
    font-size: 16px;
    font-weight: 400;
    background: #ffc178;
    border: 1px solid #ffc178;
    color: #fff;
    border-radius: 30px;
    -webkit-transition: 1s ease;transition: 1s ease; 
    margin-top: 30px;
}

.btn-home:hover{
    background: #fff;
    border: 1px solid #ffc178;
    color: #ffc178;
}
/*
==================================================
|   |   |   Department + About Section
==================================================
*/
.department{
    padding: 0px 0px 190px;
    background: url('../img/limit-bg-shape.png') left bottom no-repeat;
}

.depart-title{
    text-align: center;
}

.depart-title h1{
    font-size: 40px;
    font-weight: 700;
    margin-top: -50px;
}

.depart-title p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #5a6e79;
    margin-top: 40px;
    margin-bottom: 80px;
}

.depart-img{
    width: 100%;
    padding: 50px 38px;
    text-align: center;
    border-radius: 5px;
}

.depart-img h5{
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
}


.bg-red{
    background: #f9703a;
}

.bg-green{
    background: #80be41;
}

.bg-yellow{
    background: #ffb157;
}
/*============================About Section============================*/
.gg{
    padding-left: 0px;
    padding-right: 0px;
}

.about-img{
    width: 100%;
    padding: 140px 0px 0px;
}

.about-img img{
    width: 100%;
    margin-left: -100px;
}

.about-text{
    padding: 90px 0px;
}

.about-text h1{
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 20px;
}

.about-text p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #5a6e79;
    margin-bottom: 30px;
}

.students h1{
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: #ffba00;
    margin-bottom: -5px;
}

.students p{
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    color: #ffba00;
}


.courses h1{
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: #ff5f72;
    margin-bottom: -5px;
}

.courses p{
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    color: #ff5f72;
}


.videos h1{
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: #43cb83;
    margin-bottom: -5px;
}

.videos p{
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    color: #43cb83;
}
/*
==================================================
|   |   |    Around the University 
==================================================
*/
.around-uni{
    padding: 90px 0px 100px;
    background: url('../img/around-uni-bg.png') right top no-repeat;
    margin-top: -250px;
}

.uni-title{
    text-align: center;
    padding: 10px 0px 60px;
}
.uni-title h1{
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: #000;
}



.around-uni .card{
    background: #fff;
    border: 1px solid #f2f2f2;
    margin: 20px 0px;
}

.around-uni .card-body{
    padding: 0.75rem;
    border: 0px;
}


.around-uni .card-title{
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin-bottom: 0px;
    -webkit-transition: 1s ease;transition: 1s ease;
}

.around-uni .card:hover .card-title{
    color: #ffc178;
    text-decoration: underline;
}

.around-uni .card-text{
    font-size: 12px;
    font-weight: 400;
    color: #5a6e79;
    margin-bottom: 0px;
}

.around-uni .btn-link{
    font-size: 14px;
    font-weight: 600;
    color: #5a6e79;
    padding-left: 0px;
    text-decoration: none;
    -webkit-transition: 1s ease;transition: 1s ease;
}

.around-uni .card:hover .btn-link{
    color: #000;
}
/*
==================================================
|   |   |   Footer Widget + Footer Section
==================================================
*/
.footter-widget{
    width: 100%;
}
.widget{
   padding: 80px 0px; 
    background: #252c3a;
}


/*Widget Logo left */
.widget-inner img{
    margin-bottom: 20px;
}

.footer-social{
    display: block;
    list-style: none;
    border-top: 1px solid #303744;
}

.footer-social li{
    display: inline-block;
    font-size: 20px;
    color: #4a4a4a;
    margin-right: 5px;
    margin-top: 20px;
    -webkit-transition: 1s ease;transition: 1s ease;
}

.footer-social li:hover{
    color: #0089fd;
}

/*Widget List Group */

/*Widget Heading And Para*/
.widget-inner h5{
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.widget-inner p{
    font-size: 14px;
    font-weight: 400;
    color: #969595;
}

.widget-inner .list-group{
    border: 0px;
    border-radius: 0px;
}
.widget-inner .list-group span{
    font-size: 12px;
    font-weight: 400;
    color: #636465;
}
.widget-inner .list-group-item{
    font-size: 14px;
    font-weight: 400;
    color: #969595;
    background: transparent;
    padding: 10px 0px;
    border: 0px;
}


/*Footer Widget Support/ Right Side*/

.widget-inner .form-inline{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.widget-inner .form-inline .form-group{
    width: 100%;
    margin-left: 0px !important;
}

.widget-inner .form-inline .form-group .form-control{
    width: 100%;
    height: 60px;
    border: 0px;
    border-radius: 0px; 
    padding-left: 25px;
}

.widget-inner .form-inline .form-group input{
    font-size: 13px;
    font-weight: 400;
    color: #6b6b6b;
}

.widget-inner .btn-support{
    position: absolute;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    background: #ffc178;
    border-radius: 0px;
    right:0%;
    height: 60px;
    padding: 0px 20px;
}

/*============================Footer Bottom Section============================*/

.footer{
    padding: 30px 0px 0px;
    background: #1d232e;
}

.copy p{
    font-size: 16px;
    font-weight: 400;
    color: #6b6b6b;
    text-align: left;
}

.copy p span{
    color: #f4c613;
    letter-spacing: 1px;
    -webkit-transition: 1s ease;transition: 1s ease;
}

.copy p span:hover{
    color: #fff;
}

.footer-nav ul{
    display: block;
    text-align: right;
}

.footer-nav ul li{
    display: inline-block;
}

.footer-nav ul li a{
    font-size: 13px;
    font-weight: 400;
    color: #6b6b6b;
    margin-left: 15px;
}

.footer-nav ul li a:hover{
    color: #fff;
}
/*
==================================================
|   |   |   Coockie
==================================================
*/
.cookie-container {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background: #fff;
    color: #000;
    padding: 50px 0px;
    box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
    height: 90vh;
    transition: 400ms;
}

.cookie-container.active {
    bottom: 0;
}

.cookie-container a {
    color: #f5f6fa;
}

.cookie-btn {
    background: #13618b;
    border: 0;
    color: #f5f6fa;
    padding: 12px 30px;
    font-size: 18px;
    margin-bottom: 16px;
    cursor: pointer;
}

.cookie-btn-2 {
    background: #e84118;
    border: 0;
    color: #f5f6fa;
    padding: 12px 30px;
    font-size: 18px;
    margin-bottom: 16px;
    cursor: pointer;
}

.mb {
    text-align: right;
    margin-top: 20px;
}

.bb {
    text-align: left;
    margin-top: 20px;
}





/*
==================================================

//For Heading
font-family: 'Montserrat', sans-serif;
//For Body + H5+h6 Heading
font-family: 'Work Sans', sans-serif;

btn color: #ffc178;
Main color: #ffc178;
Body text color: #5a6e79;
Body some section text color: #657882;
Footer color: #252c3a; 
Footer text color: #969595;
Footer Some text color: #6b6b6b;







==================================================
*/